In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('marketing_campaign.csv', sep='\t')
missing_values = df.isnull().sum()
print(missing_values)

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [ ]:
df_before = len(df)
df = df.drop_duplicates()
print(f"Removed {df_before - len(df)} duplicate rows")

Removed 0 duplicate rows

In [ ]:

df['Education'] = df['Education'].replace({
    '2n Cycle': 'Master',
    'Basic': 'Undergraduate'
})
df['Marital_Status'] = df['Marital_Status'].replace({
    'Alone': 'Single',
    'Together': 'Married'
})

In [ ]:
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], format='%d-%m-%Y')

In [ ]:
df.columns = df.columns.str.lower()

In [ ]:

df['year_birth'] = df['year_birth'].astype(int)
df['income'] = df['income'].fillna(df['income'].median()).astype(float)

In [ ]:
from datetime import datetime
current_year = datetime.now().year
df['age'] = current_year - df['year_birth']

In [ ]:
df['total_children'] = df['kidhome'] + df['teenhome']

In [ ]:
spending_cols = ['mntwines', 'mntfruits', 'mntmeatproducts',
                'mntfishproducts', 'mntsweetproducts', 'mntgoldprods']
df['total_spending'] = df[spending_cols].sum(axis=1)

In [ ]:
purchase_cols = ['numdealspurchases', 'numwebpurchases',
                'numcatalogpurchases', 'numstorepurchases']
df['total_purchases'] = df[purchase_cols].sum(axis=1)

In [ ]:
print(df.dtypes)
print(df.isnull().sum())
print(df.head())

id                              int64
year_birth                      int64
education                      object
marital_status                 object
income                        float64
kidhome                         int64
teenhome                        int64
dt_customer            datetime64[ns]
recency                         int64
mntwines                        int64
mntfruits                       int64
mntmeatproducts                 int64
mntfishproducts                 int64
mntsweetproducts                int64
mntgoldprods                    int64
numdealspurchases               int64
numwebpurchases                 int64
numcatalogpurchases             int64
numstorepurchases               int64
numwebvisitsmonth               int64
acceptedcmp3                    int64
acceptedcmp4                    int64
acceptedcmp5                    int64
acceptedcmp1                    int64
acceptedcmp2                    int64
complain                        int64
z_costcontact                   int64
z_revenue                       int64
response                        int64
age                             int64
total_children                  int64
total_spending                  int64
total_purchases                 int64
dtype: object
id                     0
year_birth             0
education              0
marital_status         0
income                 0
kidhome                0
teenhome               0
dt_customer            0
recency                0
mntwines               0
mntfruits              0
mntmeatproducts        0
mntfishproducts        0
mntsweetproducts       0
mntgoldprods           0
numdealspurchases      0
numwebpurchases        0
numcatalogpurchases    0
numstorepurchases      0
numwebvisitsmonth      0
acceptedcmp3           0
acceptedcmp4           0
acceptedcmp5           0
acceptedcmp1           0
acceptedcmp2           0
complain               0
z_costcontact          0
z_revenue              0
response               0
age                    0
total_children         0
total_spending         0
total_purchases        0
dtype: int64
     id  year_birth   education marital_status   income  kidhome  teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation        Married  71613.0        0         0
3  6182        1984  Graduation        Married  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  dt_customer  recency  mntwines  ...  acceptedcmp1  acceptedcmp2  complain  \
0  2012-09-04       58       635  ...             0             0         0
1  2014-03-08       38        11  ...             0             0         0
2  2013-08-21       26       426  ...             0             0         0
3  2014-02-10       26        11  ...             0             0         0
4  2014-01-19       94       173  ...             0             0         0

   z_costcontact  z_revenue  response  age  total_children  total_spending  \
0              3         11         1   68               0            1617
1              3         11         0   71               2              27
2              3         11         0   60               0             776
3              3         11         0   41               1              53
4              3         11         0   44               1             422

   total_purchases
0               25
1                6
2               21
3                8
4               19

[5 rows x 33 columns]

In [ ]:
df.to_csv('cleaned_marketing_campaign.csv', index=False)